@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  overflow: hidden;
}

.app {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}

video {
  position: fixed;
  object-fit: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.time-select,
.sound-picker,
.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-select button,
.sound-picker button {
  width: 60%;
  padding: 5%;
  margin: 10%;
  transition: all 0.7s;
}

.time-select button:hover {
  color: black;
  background: white;
}

.sound-picker button {
  border: none;
}

.sound-picker img {
  width: 50%;
  height: 50%;
}

.sound-picker button:nth-child(1) {
  background: #4972a1;
}

.sound-picker button:nth-child(2) {
  background: #a14f49;
}

.player-container {
  position: relative;
}

.player-container svg {
  position: absolute;
  height: 200%;
  transform: rotate(-90deg);
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  .app {
    display: flex;
    flex-direction: column;
  }

  .time-select,
  .sound-picker,
  .player-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .time-select button,
  .sound-picker button {
    padding: 0 10%;
    margin: 5% 10%;
    transition: all 0.7s;
  }

  .time-select {
    order: 0;
  }
  .sound-picker {
    order: 1;
  }

  .sound-picker img {
    padding: 10%;
    width: 100%;
    height: 100%;
  }

  .player-container {
    order: 2;
    flex-direction: column;
    margin-top: 50px;
  }
}
