
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: #333 url('showcase.jpg') no-repeat center center/cover;
    color: #fff;
    overflow: hidden;

}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
}

h1, h2 {
    font-weight: 200;
    margin: 0.4rem;

}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #dfdfdf;
}

h2:first-child {
    font-weight: 600;
}

/* Cursor */
.txt-type > .txt {
    border-right: .2rem solid #6ea2c5;
}

@media(min-width: 1200px){
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px){

    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}