* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  font-family: "";
  overflow: hidden;
  background-color: #313131;
}

canvas {
  box-shadow: -2px 1px 9px 3px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.color-field:first-of-type {
  background-color: red;
}

.color-field:nth-of-type(2) {
  background-color: green;
}

.color-field:nth-of-type(3) {
  background-color: blue;
}

.color-field:nth-of-type(4) {
  background-color: yellow;
}

.tools {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin-top: 15px;
}

.color-field {
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid white;
  /* margin: 0 15px; */
}

.tools .button {
  width: 100px;
  height: 40px;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  background-color: #222;
  font-weight: bold;
  transition: all 0.3s ease;
  /* margin: 0 15px; */
}

.tools .button:hover {
  background-color: white;
  color: black;
}
